# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/

# Data & Models
data/
models/
logs/
assets/posters

# Temporary pictures
pictures/*
!pictures/screenshot_streamlit.png

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db